<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.jpetstore.dao.mybatis.mapper.SearchMovieMapper">
    <cache />
    <select id="searchMovieByKeyword" resultType="com.example.jpetstore.domain.Movie">
        SELECT *
        FROM MOVIE
        WHERE movie_title LIKE CONCAT('%', #{keyword}, '%')
    </select>
</mapper>