<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.jpetstore.dao.mybatis.mapper.WishMapper">
  <!-- 무비의 제목과 별점을 Movie 객체 형태로 가져옴-->
  <select id="getWishMovie" resultType="com.example.jpetstore.domain.Movie">
    SELECT MOVIE.MOVIE_TITLE AS mvTitle, MOVIE.MOVIE_STAR AS mvStar
    FROM MOVIE
    JOIN MOVIE_WISH ON MOVIE.MOVIE_ID = MOVIE_WISH.MOVIE_ID
    WHERE MOVIE_WISH.ID = #{id}
    </select>
</mapper>